a,body{color:#000}
button,html input[type=button],input,input[type=reset],input[type=submit],textarea{-webkit-appearance:none}
.none-floated-columns{float:none;margin-left:0;width:100%;margin-bottom:20px}
.close-character{width:25px;height:25px;position:absolute;z-index:102;background:url(http://placehold.it/25x25);-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;top:0;right:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.close-character:hover{-webkit-transform:rotate(-190deg) translatez(0);-moz-transform:rotate(-190deg) translatez(0);-ms-transform:rotate(-190deg) translatez(0);-o-transform:rotate(-190deg) translatez(0);transform:rotate(-190deg) translatez(0)}
.social-media-links{cursor:default;height:20px;position:relative;display:block;padding:0;margin:0}
.social-media-links a{display:inline-block;margin-right:10px;height:100%;width:24px;background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.social-media-links a:last-child{margin-right:0}
.social-media-links a.facebook,.social-media-links a.instagram,.social-media-links a.twitter{background-image:url(http://placehold.it/17x15)}
*,::before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-smoothing:antialiased;font-smooth:always;-webkit-font-smoothing:antialiased}
input:-webkit-autofill,input:-webkit-autofill:focus,select:-webkit-autofill,textarea:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset!important;background-color:#fff!important;color:#000!important}
.btn.active,.btn:hover,input:focus,textarea:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
html{height:100%}
body,html{overflow:auto}
body{background-color:#fff;margin:0;font-family:Montserrat,sans-serif;font-style:normal;font-weight:400;font-size:12px;position:relative;line-height:normal;min-height:100%}
a{cursor:pointer;text-decoration:none;display:inline-block}
a:focus{outline:0;text-decoration:none}
a:active:hover,a:hover,a:visited:hover{text-decoration:none}
li,li:focus,ul:focus{outline:0}
ul{outline:0;padding-left:0}
ul li{list-style:none}
input[type=email],input[type=password],input[type=text]{width:100%;padding:0 18px;border:0;word-break:normal;color:#000;text-transform:inherit;background:#fff;font-size:10px;height:40px}
input[type=email]:focus,input[type=password]:focus,input[type=text]:focus{border:1px solid #a41d37}
input,textarea{outline:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
textarea{width:100%;padding:8px;border:1px solid #000;resize:vertical}
::-webkit-input-placeholder{color:#000}
:-moz-placeholder{color:#000;opacity:1}
::-moz-placeholder{color:#000;opacity:1}
:-ms-input-placeholder{color:#000}
input[type=submit]{background:#a41d37;border:2px solid #a41d37;color:#fff;text-transform:uppercase;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}
input[type=submit].active:focus,input[type=submit]:active,input[type=submit]:active:focus,input[type=submit]:focus,input[type=submit]:hover{color:inherit}
input[type=submit]:hover{background:0 0;border:2px solid #fff}
.btn,a.btn,button{padding:0 18px;text-align:center;cursor:pointer;outline:0;text-transform:uppercase;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;line-height:normal;border:2px solid #a41d37;color:#fff;font-size:10px;background:#a41d37;height:40px;-webkit-transition:all all .3s ease-out;-moz-transition:all all .3s ease-out;-o-transition:all all .3s ease-out;transition:all all .3s ease-out}
.btn.active:focus,.btn:active,.btn:active:focus,.btn:focus,.btn:hover,a.btn.active:focus,a.btn:active,a.btn:active:focus,a.btn:focus,a.btn:hover,button.active:focus,button:active,button:active:focus,button:focus,button:hover{outline:0}
.btn:hover,a.btn:hover,button:hover{background:0 0;border:2px solid #fff}
input[type=file]{-webkit-appearance:none;position:absolute;top:0;left:0;opacity:0;height:100%;width:100%;margin-bottom:0;cursor:pointer}
.row{overflow:hidden;margin:0}
.column,.columns{margin-left:1.5625%;float:left;min-height:1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;word-wrap:break-word;word-break:break-word}
.alpha,.column:first-child,.columns:first-child{margin-left:0}
.column.omega,.columns.omega{float:right}
.row .one.column,.row .one.columns,.sixteen.colgrid .row .one.columns{width:6.90104%}
.row .two.columns{width:15.36458%}
.row .three.columns{width:23.82813%}
.row .four.columns{width:32.29167%}
.row .five.columns{width:40.75521%}
.row .six.columns{width:49.21875%}
.row .seven.columns{width:57.68229%}
.row .eight.columns{width:66.14583%}
.row .nine.columns{width:74.60938%}
.row .ten.columns{width:83.07292%}
.row .eleven.columns{width:91.53646%}
.row .twelve.columns{width:100%}
@media (max-width:640px){.row .eight.columns,.row .eleven.columns,.row .five.columns,.row .four.columns,.row .nine.columns,.row .one.column,.row .seven.columns,.row .six.columns,.row .ten.columns,.row .three.columns,.row .twelve.columns,.row .two.columns{float:none;margin-left:0;width:100%;margin-bottom:20px}
.row .eight.columns:last-child,.row .eleven.columns:last-child,.row .five.columns:last-child,.row .four.columns:last-child,.row .nine.columns:last-child,.row .one.column:last-child,.row .seven.columns:last-child,.row .six.columns:last-child,.row .ten.columns:last-child,.row .three.columns:last-child,.row .twelve.columns:last-child,.row .two.columns:last-child{margin-bottom:0}
}